:root{
  --searchTextColor:  rgba(0, 0, 0, 0.5);
  --spinnerColor:  rgba(238, 163, 0, 0.9);
  --gray: rgba(204, 204, 204, 0.9);
}

.cardDeckContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0% 10%;
}

.searchText {
  color: var(--searchTextColor);
  margin: 1rem auto;
  padding: 1rem 2rem;
  border: 1px solid var(--gray);
  text-align: center;
}

.spinerSearch {
  text-align: center;
  padding: 1rem auto;
  margin: 1rem auto;
}

