:root{
  --searchTextColor:  rgba(0, 0, 0, 0.5);
  --spinnerColor:  rgba(238, 163, 0, 0.9);
  --gray: rgba(204, 204, 204, 0.9);
}

.cardDeckContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0% 5%;
}

.searchText {
  color: var(--searchTextColor);
  margin: 1rem 33%;
  padding: 1rem;
  border: 1px solid var(--gray);
  text-align: center;
}

.spinerSearch {
  padding-left: 45%;
}

@media (max-width: 576px) {
  .cardDeck {
    margin: 1% 1%;
  }
}
