.cards, .container-fluid, .container-lg, .container-md, .container-xl { 
  display: inline-flex;
  width: 9rem;
  margin: 1.5rem; 
}

.image {
  display: block;
  margin: auto;
  padding: 0rem;
}

.textFooter {
  text-align: center;
  text-transform: uppercase;
  padding: 0 1.25rem;
}

.container, .container-sm {
  margin: auto;
}
