.cards {
  display: inline-flex;
  width: 10rem;
  margin: 5%; 
}

.image {
  display: block;
  margin: auto;
  width: auto;
  padding: 1rem;
}

.textFooter {
  text-align: center;
  text-transform: uppercase;
  padding: 0 1.25rem;
}
