:root {
  --aquamarine: rgb(86, 198, 176, 1);
  --blackLight: rgba(0, 0, 0, 17);
  --white: rgba(255, 255, 255, 1);
}


.cards {
  display: inline-flex;
  width: 10rem;
  margin: 5%; 
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 1rem;
}

.textFooter {
  text-align: center;
  text-transform: uppercase;
  padding: 0 1.25rem;
}
