:root {
  --backGgroundColor:  rgba(110, 117, 124, 1); 
  --textColor: rgba(241, 242, 242, 1);
}

.imgFluid {
  width: 10rem;
  display: block;
  margin: auto;
}

.margin {
  margin-top: 0.5rem;
}

.titles {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.statesStyle {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.textMargin {
  margin-bottom: 1rem;
}

.textMarginVs {
  text-align: center;
  vertical-align: middle;
  margin-left: 33% ;
}

.compareButton {
  margin-left: 1rem;
  color: var(--textColor);
  background-color: var(--backGgroundColor);
}
